/* width*/
#globalContainer{left:5000px;bottom:5000px;display:none}
#pagelet_bluebar{display: none}
#pagelet_ticker{display: none}
.ticker_stream{display:none}
/* Prevent scrolling*/
body{overflow:hidden;}
/* Change the background Colour */
._li, #facebook{background:#222}/*#B1D1E0*/
#u_0_29{display:none;}
._5qqe{display:none;}
._5q5b .fbNubFlyoutTitlebar,.titlebarLabel,.fbNubFlyoutTitlebar .titlebar,.titlebarButtonWrapper {background-color:#222/*#333*/; border:2px #222;}
/* div.uiMenu:after{background:black;} */
._5q5b ._50mz .titlebar .titlebarText{color:lightgreen}

div.fbNub{
  max-height:700px; !important
  height:700px; !important}

div.fbNub * > div *{}
.fbNubFlyout,
.fbDockChatTabFlyout,
.uiContextualLayerParent,
.fbNubFlyoutOuter,
.fbNubFlyoutBody,
.fbNubFlyoutBodyContent,
.fbNubFlyoutInner,
._50mz,
.fbNubFlyout,
.fbDockChatTabFlyout,
.uiContextualLayerParent,
._1ia {/*font-size:1.3rem*/};

/*friends list*/
/*.fbSidebarGripper
.fbChatSidebarBody{height: 100%; width:400px;}
.uiScrollableAreaWrap{}
.uiScrollableAreaBody{}
.fbChatOrderedList{}*/

/* friends list and conversation backrgound */
/* .scrollable{background: #CCFFCC;}
._51m-{background: #CCFFCC} */
