/* width*/
#globalContainer{left:5000px;}
#pagelet_bluebar{display: none}
#pagelet_ticker{display: none}
.ticker_stream{display:none}
/* Prevent scrolling*/
body{overflow:hidden;}
/* Change the background Colour */
._li, #facebook{background:#222}/*#B1D1E0*/
#u_0_29{display:none;}
._5qqe{display:none;}
._5q5b .fbNubFlyoutTitlebar,.titlebarLabel,.fbNubFlyoutTitlebar .titlebar,.titlebarButtonWrapper {background-color:#222/*#333*/; border:2px #222;}
/* div.uiMenu:after{background:black;} */
._5q5b ._50mz .titlebar .titlebarText{color:lightgreen}//lightgreen



div.uiSelectorMenuWrapper:nth-child(3) > div:nth-child(1) > ul:nth-child(1) > li:nth-child(10) > a:nth-child(1) > span:nth-child(1){display:none;}



/* .fbNubFlyoutOuter{max-height:1000px; height:1000px;top:0;};
.fbNubFlyoutBody{max-height:1000px; height:1000px;top:0;};
.fbNubFlyoutBodyContent{max-height:1000px; height:1000px;top:0;};
.fbNubFlyoutInner{max-height:1000px; height:1000px;top:0;};
._50mz {max-height:1000px; height:1000px;top:0;};
.fbNubFlyout{max-height:1000px; height:1000px;top:0};
.fbDockChatTabFlyout{max-height:1000px; height:1000px;top:0};
.uiContextualLayerParent{max-height:1000px; height:1000px;top:0};
._1ia{max-height:1000px; height:1000px;top:0};
#ChatTabsPagelet{height:1000px}

 */


/*friends list*/
.fbSidebarGripper
.fbChatSidebarBody{height: 100%; width:400px;}
.uiScrollableAreaWrap{}
.uiScrollableAreaBody{}
.fbChatOrderedList{}

/* friends list and conversation backrgound */
/* .scrollable{background: #CCFFCC;}
._51m-{background: #CCFFCC} */























