  
.deface #globalContainer {
    right:3000px;
    display:none;  
}

.deface #pagelet_bluebar {
    display:none; 
 }

.deface #pagelet_ticker {
    /*display:none;*/
}

.deface .ticker_stream {
    /*display:none;*/
}

.deface ._5qqe{
  display:none;
  
}

.deface #u_0_29 {
/*left:3000px;*/
}

.deface ._5qqe {
/*left:3000px;*/
}


#arrow-left {
  left:44px;
  top:12px;
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid white; 
  position:fixed;
  cursor: pointer;
}

#options{
  z-index:99999999;
  position:fixed;
  background:white;
  left:54px;
  top:11px;
  padding:3px 3px;
  border-radius:2px;
  cursor: pointer;
  }

.hide-options{
  display:none;
}

#facebook{
  background: #222;
}
.deface #facebook {
    overflow: hidden;
}
.deface ._5q5b .fbNubFlyoutTitlebar,.deface .titlebarLabel,.deface .fbNubFlyoutTitlebar .titlebar,.deface .titlebarButtonWrapper {
    background-color: #222;
    border: 3px #222;
}

.hidden_elem{display:none;}

.fbNubFlyoutOuter {display:block;}
div._50mz:nth-child(1) > div:nth-child(2){display:block;}

#defaceButton {
    position: fixed;
    left: 11px;
    top: 10px;
    z-index: 99999;
    width: 22px;
    height: 22px;
    background-image: url(http://deface.xyz/img/white-icon.svg);
    background-size: contain;
    text-align: center;
    font-size: 1.4em;
    cursor: pointer;
}

.selno {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.deface .cli {
    display: block;
}

.cli {
    display: none;
}

.deface ._5q5b ._50mz .titlebar .titlebarText {
    color: #4DFF86;
}

  .deface .highlightTab,.deface .highlightTitle,.deface ._50mz,.deface ._50m_,.deface ._5238 {
    color: #4DFF86;
}

/*broke*/
/*.heighty #u_0_2b > div.fbNub:nth-child(even) > div,.heighty #u_0_2b > div.fbNub:nth-child(odd) > div{max-height:90vh;
height:90vh;}*/

 .heighty #u_0_2a > div:nth-child(even) > div, .heighty #u_0_2a > div:nth-child(odd) > div{max-height:90vh;
height:90vh;}

.deface body{overflow: hidden;}
.deface .cardRightCol{display:none;}