/* width*/
/*.deface*/ #globalContainer{left:5000px;bottom:5000px;display:none; z-index:9999;}
/*.deface*/ #pagelet_bluebar{display: none; z-index:9999;}
/*.deface*/ #pagelet_ticker{display: none; z-index:9999;}
/*.deface*/ .ticker_stream{display:none; z-index:9999;}

/* Prevent scrolling*/
/*.deface*/ body{overflow:hidden; z-index:9999;}

/* Change the background Colour */
/*.deface*/ ._li, #facebook{background:#222;}/*#B1D1E0*/
/*.deface*/ #u_0_29{display:none; z-index:9999;}
/*.deface*/ ._5qqe{display:none; z-index:9999;}
/*.deface*/ ._5q5b .fbNubFlyoutTitlebar,/*.deface*/ .titlebarLabel,/*.deface*/ .fbNubFlyoutTitlebar .titlebar,/*.deface*/ .titlebarButtonWrapper {background-color:#222; border:3px #222; z-index:9999;}

/* div.uiMenu:after{background:black;} */
/*.deface*/ ._5q5b ._50mz .titlebar .titlebarText{color:lightgreen; z-index:9999;}

/*change chatbox closed tab color*/
/*.deface*/ .highlightTab,/*.deface*/ .highlightTitle,/*.deface*/ ._50mz,/*.deface*/ ._50m_,/*.deface*/ ._5238{color:lightgreen; z-index:9999;}

/*.deface div.fbNub{
  max-height:700px;
  height:700px;}*/

/*.deface div.fbNub * > div *{}*/

/*friends list*/
/*.fbSidebarGripper
.fbChatSidebarBody{height: 100%; width:400px;}
.uiScrollableAreaWrap{}
.uiScrollableAreaBody{}
.fbChatOrderedList{}*/

/* friends list and conversation backrgound */
/* .scrollable{background: #CCFFCC;}
._51m-{background: #CCFFCC} */
